*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../image/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.container{
    backdrop-filter: blur(5px);
    max-width: 900px;
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    display: grid;
    grid-template-columns: 340px 1fr;
    border-radius: 15px;
    grid-gap:24px;
}
.container img{
    margin-top: 40px;
    width: 400px;
    object-fit: cover;
}
.container .info{
    padding: 30px;
}
h2{
    font-weight: 100;
    letter-spacing: 3px;
}
.name,
.price,
.qty{
    font-size: 18px;
    padding-bottom: 30px;
}
.para{
    opacity: 0.9;
}
.info label{
    font-size: 1rem;
    display: block;
    padding-bottom: 15px;
}
.info .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.color span{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: -15px;
    border-radius: 50%;
    border: 1px solid white;
    background: white;
}
.container button{
    background: rgba(255, 255, 255, 0.4);
    border: none;
    margin: 10px;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}
button:focus{
    outline: none;
}
.container i{
    color: crimson;
    margin-right: 15px;
    font-size: 20px;
}
.container button:nth-child(1){
    color: black;
    background-color: white;
}
.container button:hover{
    box-shadow: 1px 1px 10px 1px grey;
}
.color span{
    margin-top: 20px;
}
.color span:nth-child(1){
    background: #f44336;
}
.color span:nth-child(2){
    background: gold;
}
.color span:nth-child(3){
    background: darkblue;
}
.color span:nth-child(4){
    background: white;
}
.color span:nth-child(5){
    background: gainsboro;
}